# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/.next
/out

# Debug
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env*
!.env.example

# Editor directories and files
.vscode
.idea
*.swp
.DS_Store
# Misc
.DS_Store
.env*.local
.next-standalone
